@import "~antd/dist/antd.css";

.ant-picker-calendar-full {
  /* font-family: "permanent", cursive; */
  background-color: #a664e3;
}

.ant-picker-calendar-header {
  padding-right: 1rem;
}

.ant-picker-cell {
  height: 8rem;
}

.events {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
}

.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.notes-month {
  text-align: center;
  font-size: 1rem;
}

.notes-month section {
  font-size: 1rem;
}

/* .boom {
  display: grid;
  justify-items: center;
  align-content: stetch;
} */
