@import "~antd/dist/antd.css";

.grid-container {
  display: grid;
  grid-template-columns: 80px 7fr 1fr;
  grid-template-rows: 80px 10.5fr;
  grid-template-areas:
    "logo   topbar  topbar"
    "navi   main    sidebar";
  height: 100vh;
}

.schedule {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.ant-picker-calendar-full {
  /* font-family: "permanent", cursive; */
  background-color: #a664e3;
}

.ant-picker-calendar-header {
  padding-right: 1rem;
}

.ant-picker-cell {
  height: 7.95rem;
}

.events {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
}

.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.notes-month {
  text-align: center;
  font-size: 1rem;
}

.notes-month section {
  font-size: 1rem;
}

/* .boom {
  display: grid;
  justify-items: center;
  align-content: stetch;
} */
