/* // USER PRE-LOG-IN SCREEN // */

.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #e4e1ec;
  color: #005082;
  height: 100%;
}

.profileHeader {
  margin-bottom: 4rem;
  font-weight: bold;
}

.profileKey {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 2rem;
}

.profileValue {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.profileButton {
  display: flex;
  justify-content: center;
}

.inputField {
  width: 30rem;
  border-style: none;
}

.myBuds {
  display: flex;
  justify-content: center;
}

.myBud {
  border: none;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  background-color: #005082;
  color: white;
  margin: 1rem;
  margin-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* // USER POST-LOG-IN SCREEN // */

.profileContainer {
  height: 100%;
}

.profileSection {
  display: flex;
  width: 40rem;
  margin: 2rem;
}

.loggedKey {
  width: 100%;
}

.logged.Value {
  width: 100%;
}

.userPic {
  width: 10rem;
}
