/* // USER POST-LOG-IN SCREEN // */

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #e4e1ec;
  color: #005082;
  height: 100%;
  min-width: 40rem;
}

.profileWrapper {
  width: 41%;
}

.profileHeader {
  margin-bottom: 4rem;
  text-align: center;
  font-weight: bold;
}

.loggedKey {
  margin: 2rem;
}

.loggedValue {
  margin: 2rem;
}

.inputField {
  width: 100%;
}

.userImage {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.userPic {
  width: 15rem;
}

.myBuds {
  display: flex;
  justify-content: center;
}

.myBud {
  margin: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  background-color: #005082;
  color: white;
}

@media only screen and (max-width: 1350x) {
  .profileContainer {
    margin: 0;
  }
}
