.logoContainer {
  display: grid;
  position: relative;

  padding: 0;
  margin: 0;
}

.logo {
  grid-area: logo;
  position: absolute;
  display: grid;
  justify-content: center;
  align-content: stretch;
  background-color: #a664e3;
  font-family: "permanent", cursive;
  font-size: 3rem;
  color: #e4e1ec;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}
