.logo {
  display: grid;
  grid-area: logo;
  justify-items: center;
  background-color: #a664e3;
  font-family: "permanent", cursive;
  font-size: 3rem;
  color: #e4e1ec;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
