.logo {
  display: grid;
  grid-area: logo;
  place-items: center;
  background-color: #411e8f;
  font-family: "permanent", cursive;
  font-size: 3rem;
  color: white;
  position: sticky;
  position: -webkit-sticky;
}

.logo span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.25s;
}

.logo:hover span {
  padding-left: 1rem;
}

.logo:hover span:after {
  opacity: 1;
  right: 0;
}

.logo:hover {
  display: grid;
  color: #ffbd69;
  text-decoration: none;
}
