.cards {
  margin-top: 3rem;
}

.cards__title {
  display: grid;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1.2rem;
  line-height: 1.6;
}

.cards__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  flex-basis: auto;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cards__list__items {
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px gray;
  width: 20rem;
  padding: 10px;
  background-color: white;
}

.cards__item__picWrap {
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: fill;
  transition: all 0.2s linear;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}
