/* .grid-container {
  display: grid;
  grid-template-columns: 80px 7fr 1fr;
  grid-template-rows: 80px 10.5fr;
  grid-template-areas:
    "logo   topbar  topbar"
    "navi   main    sidebar";
  height: 100vh;
}

.test {
  grid-area: main;
  display: grid;
} */
