/* ========= GRID ========== */

.sideContainer {
  display: flex;
  flex-direction: column;
}

/* ========= CHARTS ========== */

.chart {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #e4e1ec;
  color: #293241;
  align-items: center;
  height: 100%;
  padding-top: 2rem;
}

.chartHeader {
  font-size: 1.5rem;
}

.hours {
  font-size: 6rem;
}

.webinars {
  font-size: 6rem;
}

.totalWeb {
  grid-area: totalWeb;
}

.totalHours {
  grid-area: totalHours;
}

.presenter {
  padding-top: 1rem;
  grid-area: presenter;
}

.genre {
  padding-top: 1rem;
  grid-area: genre;
}

.skill {
  padding-top: 1rem;
  grid-area: skill;
}
