.sidebar {
    grid-area: sidebar;
    background-color:#e5defc;
  }

  .sideContainer {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "webinars"    
    "hours"
    "genre"
    "presenter"     
    "skill";
    grid-gap: 25px;
}

.webinars {
    grid-area: hours;
    font-size: 1rem;
}

.chart {
    position: relative;
    border-radius: 10px;
    background-color: #e4e1ec;
    display: grid;
    align-content: center;
}

.chartHeader {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 2rem;
    color: red;
}
