:root {
  --clr-primary: #293241;
  --clr-body: #e4e1ec;
  --clr-bg: #a664e3;
}

.search {
  display: grid;
  position: sticky;
  grid-area: topbar;
  justify-content: end;
  align-content: center;
  background-color: #293241;
  z-index: 2;
  top: 0;
  margin-right: 1rem;
}

.searchBar {
  display: grid;
  grid-area: search;
  justify-content: end;
  min-width: 200px;
  border: 2px var(--clr-bg);
  z-index: 10;
}

.searchBarInput {
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  border-style: none;
  border-radius: 20px;
}

.searchBarSubmit {
  display: grid;
  --size: 2.3rem;
  position: absolute;
  align-items: center;
  justify-self: end;
  cursor: pointer;
  background: #a664e3;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.searchBar:focus {
  outline: 0;
}

.fontIcon {
  display: grid;
  color: white;
}
