/* .stats {
    padding: 20px;
    font-family: 'permanent', cursive;
} */


/* ========= GRID ========== */

  .chartContainer {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "totalWeb     totalHours    activity"
    "genre        presenter     skill";
    grid-gap: 25px;
}

/* ========= CHARTS ========== */

.chart {
    position: relative;
    border-radius: 10px;
    background-color: #e4e1ec;
    display: grid;
    align-content: center;
}

.chartHeader {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1rem;
    color: #293241;
}


.totalWeb {
    grid-area: totalWeb;
    font-size: 6rem;
}

.totalHours {
    grid-area: totalHours;
    font-size: 2rem;
}

.activity {
    grid-area: activity;
}

.genre {
    grid-area: genre;
    position: absolute;
    width: 90%;
    height: 60%;
    top: 33%;
}

.presenter {
    grid-area: presenter;
    position: absolute;
    width: 90%;
    height: 30%;
    top: 33%;
}

.skill {
    grid-area: skill;
    position: absolute;
    width: 90%;
    height: 60%;
    top: 33%;  
}

.texty {
    color: red;
}


