@font-face {
  font-family: "permanent";
  src: url(./fonts/permanent.ttf)
}

html {
  font-size: 62.5%;
  background-color: #293241;
}

body {
  color: white;
  margin: 0;
  height: 100vh;
  font-size: 1.8rem;
  font-family: "permanent";
}

a:link {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 80px 7fr 1fr;
  grid-template-rows: 80px 10.5fr;
  grid-template-areas:
  "logo   topbar  topbar"
  "navi   main    sidebar";
  height: 100vh;
}

.main {
  grid-area: main;
  background-color: #f2f4f8;
}