@font-face {
  font-family: "permanent";
  src: url(./fonts/permanent.ttf);
}

html {
  font-size: 62.5%;
  background-color: #293241;
}

body {
  color: white;
  margin: 0;
  height: 100vh;
  font-size: 1.8rem;
  font-family: "permanent";
}

a:link {
  text-decoration: none;
}
